name: Build and Deploy Docs

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install MkDocs, theme, and plugins
        run: |
          python -m pip install --upgrade pip
          pip install mkdocs mkdocs-material "mkdocstrings[python]"

      - name: Deploy documentation to GitHub Pages
        run: |
          mkdocs gh-deploy --force
